*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}
.image{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    top: -60%;
}
.image img{
    height: 600px;
    width: 600px;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
   
    padding: 30px 200px 200px;
    box-shadow: 0px 0px 17px;

}

.para{
    color: #580404;
    font-size: 30px;
    position: absolute;
    margin: 50px;

}
.para1{
    color: #580404;
    font-size: 30px;
    position: absolute;
    margin: 9px 10px;
    top: 50%;
    display: flex;
    left: 1%;
  
}
.para1 p{
    padding: 300px 280px 300px;
    margin: 0px
    
}